<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>WW</title>
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>
    <div class="row justify-content-center">
        <div class="col-md-8 ">
        <div >
            <div>
                <img src="../public/images/welcome.gif">
            </div>
            <div>
                <h2>Start Editing and creating the free word documents from here</h2>
                <div class="m-5">
                    <a href="/doc" class="btn btn-info">Get Started</a>
                </div>
                
            </div>
            
        </div>
    </div>
    </div>

</body>

</html>